/********************************
  MAIN CSS STYLING
********************************/
:root {
  /* sizing */
  --maxWidth: 1280px;
  /* color */
  --backgroundColor: #2b2c2c;
  --backgroundColorLight: #303131;
  --brightColor: #fff;
  --darkColor: #4e4e4e;
  --textColor: #9f9f9f;
  --subheadingColor: #ccc;
  --headerColor: #252525;
  --logoColor: #fbd215;
  --highlightColor: #feb632;
  --linkColor: #fcfcfc;
  --headingColor: orange;
}

/********************************
  GLOBAL STYLING
********************************/
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--linkColor);
}

img {
  display: block;
}

h1 {
  color: var(--brightColor);
  font-size: 4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}

p {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.2rem;
  line-height: 1.6;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--backgroundColor);
  color: var(--textColor);
}


/********************************
  UTILITY CLASS
********************************/
.container {
  max-width: var(--maxWidth);
  margin: 0 auto;
  padding-right: 2%;
  padding-left: 2%;
}

.pt2 {
  padding-top: 2rem;
}

.pt4 {
  padding-top: 4rem;
}

.mtb2 {
  margin-bottom: 2rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.mr2 {
  margin-right: 2rem;
}

.sp6 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.sp8 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 0.5rem 3rem;
  background: var(--highlightColor);
  color: var(--backgroundColor);
  border: 1.5px solid var(--highlightColor);
  border-radius: 3px;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 2rem;
  transition: all 0.3s ease-in-out;
}

.button:hover,
.button:focus {
  background: none;
  color: var(--highlightColor);
}

.button:active {
  background: var(--brightColor);
  border-color: var(--textColor);
  color: var(--backgroundColor);
}

.button-inverse {
  padding: 0.5rem 3rem;

  background: none;
  color: var(--highlightColor);

  border: 1.5px solid var(--highlightColor);
  border-radius: 3px;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 2rem;
  transition: all 0.3s ease-in-out;
}

.button-inverse:hover,
.button-inverse:focus {
  background: var(--highlightColor);
  color: var(--backgroundColor);
}

.button-inverse:active {
  background: var(--brightColor);
  border-color: var(--textColor);
  color: var(--backgroundColor);
}

.light-background {
  background: var(--backgroundColorLight);
}

.dark-background {
  background: var(--backgroundColor);
}

.section__heading {
  text-align: center;
  margin-bottom: 2rem;
}

.section__heading p {
  width: 80%;
  margin: auto;
}

.sub-heading {
  position: relative;
  display: inline-block;
  color: var(--subheadingColor);
  font-size: 3rem;
  margin-top: 3rem;
}

.sub-heading:after {
  position: absolute;

  bottom: 0;
  left: 0;

  content: "";

  width: 100%;
  margin: 0 auto;
  height: 5px;
  border-radius: 4px;
  background: var(--highlightColor);
}

.card {
  min-height: 300px;
  border-radius: 8px;
  padding: 3rem;
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}

.card-blue {
  position: relative;
  background-image: -webkit-linear-gradient(
    -48deg,
    rgb(36, 226, 254) 0%,
    rgb(36, 176, 254) 54%,
    rgb(35, 126, 253) 100%
  );
  background-image: -ms-linear-gradient(
    -48deg,
    rgb(36, 226, 254) 0%,
    rgb(36, 176, 254) 54%,
    rgb(35, 126, 253) 100%
  );
}

.card-yellow {
  background-image: -webkit-linear-gradient(
    -48deg,
    rgb(255, 211, 36) 0%,
    rgba(254, 187, 36, 0.99) 54%,
    rgba(253, 163, 35, 0.99) 100%
  );
  background-image: -ms-linear-gradient(
    -48deg,
    rgb(255, 211, 36) 0%,
    rgba(254, 187, 36, 0.99) 54%,
    rgba(253, 163, 35, 0.99) 100%
  );
}

.card:hover,
.card:focus  {
  transform: translateY(-20px);
}

.card-violet {
  background-image: -webkit-linear-gradient(
    -48deg,
    rgba(248, 47, 160, 0.99) 0%,
    rgba(214, 54, 208, 0.99) 54%,
    rgba(180, 61, 255, 0.99) 100%
  );
  background-image: -ms-linear-gradient(
    -48deg,
    rgba(248, 47, 160, 0.99) 0%,
    rgba(214, 54, 208, 0.99) 54%,
    rgba(180, 61, 255, 0.99) 100%
  );
}

.card-green {
  background-image: -webkit-linear-gradient(
    -48deg,
    rgba(0, 188, 128, 0.99) 0%,
    rgba(2, 204, 71, 0.99) 54%,
    rgba(3, 220, 13, 0.99) 100%
  );
  background-image: -ms-linear-gradient(
    -48deg,
    rgba(0, 188, 128, 0.99) 0%,
    rgba(2, 204, 71, 0.99) 54%,
    rgba(3, 220, 13, 0.99) 100%
  );
}

.upercase {
  text-transform: uppercase;
}

/********************************
  POSITION UTILITY CLASS
********************************/
.two-column-position {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.three-column-position {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: minmax(300px, 100%);
}

.two-column-two-rows-position {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1fr 1fr;
  grid-gap: 2rem;
}

.three-by-four {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 300px);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-gap: 2rem;
}

.tbf-1 {
  grid-area: 1 / 1 / 3 / 3;
}
.tbf-2 {
  grid-area: 1 / 3 / 2 / 4;
}
.tbf-3 {
  grid-area: 1 / 4 / 2 / 5;
}
.tbf-4 {
  grid-area: 2 / 3 / 3 / 4;
}
.tbf-5 {
  grid-area: 2 / 4 / 3 / 5;
}
.tbf-6 {
  grid-area: 3 / 3 / 4 / 5;
}
.tbf-7 {
  grid-area: 3 / 1 / 4 / 2;
}
.tbf-8 {
  grid-area: 3 / 2 / 4 / 3;
}

/********************************
  HEADER SECTION 
********************************/
.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background: var(--headerColor);
  box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 50%);
  padding: 20px 0;
}

.header-position {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo__link {
  color: var(--logoColor);
  font-size: 2.5rem;
  font-weight: bold;
}

.header-nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.header-nav li {
  margin-left: 2.5rem;
  position: relative;
}

.header-nav__link {
  font-size: 1.2rem;
  transition: color 0.3s ease-in-out;
}

.header-nav__link:after {
  display: block;
  position: absolute;

  bottom: 0;
  left: 0;

  content: "";

  width: 0px;
  height: 3px;
  border-radius: 4px;
  background: var(--highlightColor);

  transition: width 0.3s ease-in-out;
}

.header-nav__link:hover:after,
.header-nav__link:focus:after,
.header-nav__link:active:after {
  width: 35px;
}

.header-nav__link:hover,
.header-nav__link:focus {
  color: var(--highlightColor);
}

/********************************
  HOME SECTION 
********************************/

.home-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2rem;
}

.home-content__heading {
  font-size: 6rem;
}

.home-content__paragraph {
  padding: 1rem 0;
  margin-bottom: 2rem;
  color: #ccc;
  font-size: 1.6rem;
}

.home-content__button {
  font-size: 2.4rem;
}

.home-image {
  padding-top: 2rem;
}

.home-image img {
  width: 100%;
}

/********************************
  ABOUT SECTION 
********************************/

.about__image {
  background-image: url(http://droitthemes.com/wp/mak/wp-content/uploads/2018/10/about_shap_bg.png);
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

/********************************
  SERVICES SECTION 
********************************/

.service_icon {
  height: 60px;
  margin-bottom: 2rem;
}

.service_details,
.service_title {
  color: var(--brightColor);
}

.service_title {
  font-size: 2rem;
  color: var(--brightColor);
}

/********************************
  PORTFOLIO SECTION 
********************************/

.portfolio {
  min-height: 300px;
  position: relative;
  border-radius: 8px;
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
  background: var(--highlightColor);
  overflow: hidden;
}

.portfolio__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.4s ease-in-out;
  background: rgba(251, 210, 21, 0.65);
  transform: translateY(25%);
  color: var(--backgroundColor);
  backdrop-filter: blur(0);
  opacity: 0;
  overflow: hidden;
}

.portfolio__overlay-heading {
  font-weight: bold;
  font-size: 2.4rem;
}

.portfolio__overlay-paragraph {
  font-weight: bold;
  font-size: 1.2rem;
}

.portfolio:hover .portfolio__overlay {
  opacity: 1;
  transform: translateY(0);
  backdrop-filter: blur(10px);
}

.portfolio:hover {
  transform: translateY(-20px);
}

/********************************
  WORK EXPERIENCE SECTION 
********************************/
.experience-card {
  background: var(--backgroundColorLight);
  border: 1px solid var(--darkColor);
  padding: 5rem 3rem;
  color: var(--textColor);
  transition: all 0.3s ease-in-out;

}

.experience-card__heading {
  color: var(--linkColor);
  margin-top: 0.5rem;
  transition: all 0.3s ease-in-out;

}

.experience-card__sub-heading {
  margin-top: 0.3rem;
  display: inline-block;
  color: #706e6e;
  transition: all 0.3s ease-in-out;

}

.experience-card__text {
  margin-top: 0.3rem;
  display: inline-block;
}

.experience-card:hover,
.experience-card:focus {
  background: var(--highlightColor);
  color: var(--headerColor);
  border: 1px solid var(--darkColor);
}

.experience-card:hover .experience-card__sub-heading,
.experience-card:focus .experience-card__sub-heading,
.experience-card:hover .experience-card__heading,
.experience-card:focus .experience-card__heading  {
  color: var(--headerColor);
}


/********************************
  HIRE ME SECTION 
********************************/
